

body{
    min-height:100%;
    font-family: 'Ubuntu', sans-serif;
}
li{
    list-style:none;
}
html{
    cursor:pointer;
}
.title-headers{
    font-size:3.5em;
    margin-top:2.5%;
    margin-bottom: 2.5%;
}
 .background-image{
       width:100%
       position:fixed;
       height:100%;
       background-image:url(../img/superherofixed.jpg);
       background-position:center;
       color:#FFF;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size:cover;
       transition: background-image 0.5s;
}
sighting-lable{
}
.navigation{
    margin: 0 auto;
}
.page-title{
    margin-left:20%;
    margin-bottom:6%;
}

.superpower-label {
    margin-left: 20%;
    font-size: 1.1em;
}
.datetimepicker{
    margin-left:28%;
}
.background-form{
    padding-bottom:4%;
}
.superpower-list {
    width: 100%;
    height: 100%;
    margin-left: 50%;
}
.form-background{
    margin: auto;
    margin-top:5%;
    padding-top:15px;
    width: 96%;
    background: rgb(195, 29, 16);
    border:4px;
    color:#fff;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding-bottom:50px;
    box-shadow: 10px 10px 5px grey;

}
.icon-slots{
    color:rgb(195, 29, 16);
}
.abilities {
    margin-top: 10%;
    font-size: 3em;
    color: rgb(195, 29, 16);
    border-bottom: 1px solid rgb(195, 29, 16);

    text-shadow: 2px 2px 5px grey;
    }
.location-button{
    margin-top: 0.5em;
    margin-right: 0.75em;
    border solid 3px #FFF;
    padding 0.5em;
    color:rgb(195, 29, 16);
    background:#FFF;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
    float:right;
    box-shadow: 5px 5px 5px rgb(139,0,0);
}
::placeholder {
    color: white;
    opacity: 1;

 }
.input-style{
    color:#fff;
    margin-left:20%;
    background: rgb(195, 29, 16);
    padding: 10px;
    width:70%;
    border-bottom: #FFF;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}
input:focus {
  outline: none;
}

.location-header{
    margin-left:2em;
    color:rgb(195, 29, 16);
}
.body-container{
    margin:auto;
    width:75%;
    border-radius:5px;
    background: rgb(220,245,245);
    margin-bottom:5%;
}
.newPower{
    margin-top: 30px;
    margin-bottom: 30px;

}

a:link,a:visited{
    text-decoration:none;
    color:white;
}
.power, .editing {
    border-radius: 16px;
    padding: 5px;
    text-align: center;
    background-color: rgb(22, 44, 162);
    margin:10px;
    color: #FFF;
    box-shadow: 5px 5px 5px grey;

}
.navigation{
    width:100%;
    margin:0 auto;
}
.navigation-bar{
    background: rgb(195, 29, 16);
    border-radius: 5px;
    margin-top:0px;

}
.editing {

  padding:5px;
  display: none;
  margin-bottom: 5px;
}

#homeBody{
    height:100%;
    background-image:url(../img/SuperHero3.jpg);
    background-position:center;
    color:#FFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    transition: background-image 0.5s;

}

.color-overlay{
    width:100%;
    height:100%;
    /*
    background: #1849CA;
    */
    background:rgba(0,0,0,0.9);
    opacity:0.7;
    position:absolute;
    top:0;
    left:0;
}
.color-overlay-pages{

    width:100%;
    min-height:100%;
    background:rgba(0,0,0,0.9);
    opacity:0.7;
    position:fixed;
    top:0;
    left:0;
    z-index:-10;
}

.list-of-sightings {
    margin-top: 30px;
   }
.sighting-ticker{
    display:block;
    background:  rgba(195, 29, 16,0.9);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border: 3px solid RGB: (195, 29, 16);
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;


}
.headingTitle:hover{
    margin-left:30px;
}
.sighting-ticker:hover{
    display:block;
    background:  rgba(195, 29, 16,1);

    border: 3px solid RGB: (195, 29, 16);
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;


}

.recent-sighting-header{
    margin: auto;
      width: 50%;
}
.sighting{
    margin:5px;
}
.headingTitle{
    letter-spacing:2px;
    font-size:3em;
    padding: .75em 1em;
}
/**
 #map {
        height: 400px;  /* The height is 400 pixels
        width: 750px;  /* The width is the width of the web page
       }
*/
.deleteIcon{
    margin:2px;
    background-color:red;
}
.editIcon{
    margin:2px;
    background-color:green;
}

.radio{
    margin-left:50px;
    margin-bottom: 25px;
    display:inline-block;

}


.checkbox{
     margin:10px;
    margin-bottom: 25px;
    display:inline-block;
}






