

<html xmlns:th="http//www.thymeleaf.org" xmlns ="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Sarabun|Ubuntu|Ubuntu+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c50d94bbae.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link th:href="@{/css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css" media="screen"/>

    <title>Hero Sightings</title>
</head>
<body class="background-image">

<ul class="navbar navbar-expand-lg  nav-fill nav-pills col-md-12 navigation-bar">
    <li class="nav-item active navigation-tabs">
        <a class="nav-link" href="/HeroSighting/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item navigation-tabs">
        <a class="nav-link" href="/HeroSighting/sighting/display">Sightings</a>
    </li>
    <li class="nav-item navigation-tabs">
        <a class="nav-link" href="/HeroSighting/organization/display">Organizations</a>
    </li>
    <li class="nav-item navigation-tabs">
        <a class="nav-link" href="/HeroSighting/superhero/display">Super Heroes</a>
    </li>
    <li class="nav-item navigation-tabs">
        <a class="nav-link" href="/HeroSighting/location/display">Locations</a>
    </li>
    <li class="nav-item navigation-tabs">
        <a class="nav-link" href="/HeroSighting/superpower/display">Super Powers</a>
    </li>

</ul>
<h1 id="" class="title-headers text-center">Organizations</h1>
<div class="body-container">









    <div class="container-full-width row">
        <div class="color-overlay-pages"></div>
        <div class="col-4">

            <h3 class="location-header">All Organizations</h3>
            <div th:each="organization: ${organizations}">
                <div class="col-12 location-title">
                    <h5 th:value = "${organization.id}" class="power edit" th:text="${organization.name}"></h5>
                    <div class="buttons">
                        <button class="col-5 btn-success editIcon editing"><a href="#" th:href="@{/HeroSighting/editorganization/update(id=${organization.id})}" >Edit</a></button>
                        <button class="col-5 btn-danger deleteIcon editing"><a href="#" th:href="@{/HeroSighting/organization/delete(id=${organization.id})}" >Delete</a></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-8">
            <div class="col-12">


                <div >

                <form class="form-background" method="post">
                    <h4 class="page-title">Edit Organzation</h4>

                    <div class="form-group">

                        <input type="text" class="input-style" id="name" name="name" th:value = "${organization.name}">

                    </div>
                    <div class="form-group">

                        <input type="text" class="input-style" id="description" name="description"  th:value ="${organization.description}">
                    </div>

                    <label for="location" class="superpower-label">
                        Edit Headquarters</label>
                    <div class="form-group row">

                        <div class="col-7">
                            <select id="location" name="location"
                                    class="superpower-list" >
                                <option th:each="location : ${locations}"
                                        th:value="${location.id}"
                                        th:text="${location.name}"
                                        th:selected="${organization.location.id == location.id}">
                                    location</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group row">
                        <label for="members" class=" col-12 superpower-label">
                            Super Heroes</label>
                        <div class="col-7">
                            <select multiple id="members" name="member"
                                    class="superpower-list" >
                                <option th:each="member : ${members}"
                                        th:value="${member.id}"
                                        th:text="${member.name}"
                                        th:selected="${organization.members.contains(member)}"
                                >
                                    Edit Super Heroes</option>
                            </select>
                        </div>
                            <input type="hidden" name="id" th:value = "${organization.id}">
                        </div>



                    <div>
                        <button type="submit" class=" location-button ">Update Organization</button>

                    </div>

                </form>
            </div>

            </div>

    </div>

</div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/src/hero.js}"></script>
</body>
</html>