
<html xmlns:th="http//www.thymeleaf.org" xmlns ="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/c50d94bbae.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link th:href="@{/css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css" media="screen"/>

    <title>Super Power Edit</title>
</head>
<body class="background-image">
<h1 id="superPowerHeader" class="jumbotron text-light bg-dark text-center">Super Powers</h1>
<header>

    <ul class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill nav-pills">
        <li class="nav-item active">
            <a class="nav-link" href="/HeroSighting/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/sighting/display/">Sightings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/organization/display/">Organizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/superhero/display">Super Heroes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/location/display/">Locations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/superpower/display">Super Powers</a>
        </li>

    </ul>


    </div>
    </nav>
</header>
<div class="container-full-width row">
    <div class="col-4">

        <h3>All Super Powers</h3>
        <table class="table">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr th:each="power : ${allPowers}" >

                <td th:value= "${power.id}" class="power" th:text="${power.type}"></td>
                <td> <a href="#" th:href="@{/HeroSighting/editsuperpower/update(id=${power.id})}" class="editIcon">Edit</a></td>
                <td> <a href="#" th:href="@{/HeroSighting/superpower/delete(id=${power.id})}" class="deleteIcon">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <div class="col-8">

            <!--<p th:text = "${singlepower}"></p>-->
            <!-- Example single danger button -->
            <div >
                <form method="post">
                    <h4 class="newPower">Edit Super Power</h4>
                    <div class="input-group">

                        <input type="text" class="form-control" id="addPower" name="type" th:value="${power.type}">
                        <input type="hidden" name="id" th:value="${power.id}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </div>
                </form>

            </div>
            <!--<div class="btn-group col-3">-->
            <!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-Secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
            <!--&lt;!&ndash;Choose a Power&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="dropdown-menu"   >&ndash;&gt;-->

            <!--&lt;!&ndash;<a th:each="power :${allPowers}" class="power dropdown-item" th:value= "${power.id}" th:text= "${power.type}" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--</div>-->
            <!--<input type="text" class="form-control message-box col-8" id="message-input" readonly>-->
        </div>
        <div class="row col-12">
            <div id="icons">
                <!--<h2 class="col-12">View a Super Power</h2>-->
            </div>
        </div>
    </div>

</div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/src/hero.js}"></script>
</body>
</html>