
<html xmlns:th="http//www.thymeleaf.org" xmlns ="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/c50d94bbae.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link th:href="@{/css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css" media="screen"/>

    <title>Hero Sightings</title>
</head>
<body>
<h1 id="superPowerHeader" class="jumbotron text-light bg-dark text-center">Organizations</h1>
<header>

    <ul class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill nav-pills">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/sighting/display">Sightings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/organization/display">Organizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/superhero/display">Super Heroes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/location/display">Locations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/HeroSighting/superpower/display">Super Powers</a>
        </li>

    </ul>


    </div>
    </nav>
</header>
<div class="container-full-width row">
    <div class="col-4">

        <h3>All Sightings</h3>
        <table class="table">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr th:each="sight : ${sightings}">

                <td th:value= "${sight.id}" class="sight" th:text="${sight.location.name}"></td>
                <td th:value= "${sight.id}" class="sight" th:text="${#temporals.format(sight.date, 'M/dd/yy')}"></td>
                <td> <a href="#" th:href="@{/HeroSighting/editsighting/update(id=${sight.id})} " class="editIcon">Edit</a></td>
                <td> <a href="#" th:href="@{/HeroSighting/sighting/delete(id=${sight.id})}" class="deleteIcon">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <!---->
    </div>
    <div class="col-8">
        <div class="col-8">

            <!--<p th:text = "${singlepower}"></p>-->
            <!-- Example single danger button -->
            <div >
                <form method="post">
                    <h4 class="newSight">Add Sighting</h4>


                    <div class="form-group">
                        <input type="text" id="datetimepicker1" >
                    </div>
                        <label for="location">Enter Location</label>
                        <div class="col-9">
                            <select id="location" name="location"
                                    class="form-control" placeholder="Location" >
                                <option selected>Choose a Location</option>
                                <option
                                        th:each="location : ${locations}"
                                        th:value="${location.id}"
                                        th:text="${location.name}">
                                </option>
                            </select>
                        </div>


                    <label for="members" class="col-3 col-form-label">
                        Super Heroes</label>
                    <div class="col-9">
                        <select multiple id="members" name="member"
                                class="form-control" >
                            <option th:each="member : ${members}"
                                    th:value="${member.id}"
                                    th:text="${member.name}"
                            >
                                Super Heroes</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Add Sighting</button>
                    </div>
                    <!--<div class="">-->
                    <!--<div class="">-->
                    <!--<button th:each="power :${allPowers}" onclick="" class="powerChoice btn-danger col-4" th:value= "${power.id}" th:text= "${power.type}" href="#"></button>-->

                    <!--</div>-->

                    <!--</div>-->





                    <!--<div id="popUp" style="display:none">-->
                    <!--<input type="checkbox" th:each="power :${allPowers}" class="power" th:value= "${power.id}" th:text= "${power.type}" href="#">-->
                    <!--</div>-->
                    <!--<button type="button" id="powerChoice" onclick="openNav()">Choose Powers</button>-->
                </form>

            </div>
            <!--<div class="btn-group col-3">-->
            <!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-Secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
            <!--&lt;!&ndash;Choose a Power&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="dropdown-menu"   >&ndash;&gt;-->

            <!--&lt;!&ndash;<a th:each="power :${allPowers}" class="power dropdown-item" th:value= "${power.id}" th:text= "${power.type}" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--</div>-->
            <!--<input type="text" class="form-control message-box col-8" id="message-input" readonly>-->
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/src/hero.js}"></script>
</body>
</html>