
<html xmlns:th="http//www.thymeleaf.org" xmlns ="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/c50d94bbae.js"></script>
    <!-- <link th:href="@{/css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css" media="screen"/> -->

    <title>Hero Sightings</title>
</head>
<body  >

<div class="color-overlay"></div>
<div class="container-full-width row" id="homeBody">

    <div class="headings col-5">
        <ul>
            <li class="headingTitle">
                <a href="#">Sighting</a></li>

            <li class="headingTitle">
                <a href="#">Super Heroes</a></li>

            <li class="headingTitle">
                <a href="#">Organizations</a></li>

            <li class="headingTitle">
                <a href="#">Locations</a></li>
            <li class="headingTitle">
                <a href="#">Super Powers</a></li>
        </ul>

    </div>
    <div class=" recent-sighting-header col-2">
        <h2>Recent Sightings</h2>
    </div>
    </div>